body{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size:16pt;
}
.supernav{
	text-align: center;
	justify-content:center;
	display:flex;
}
.profile-img{
	width:auto;
	height:200px;
}
.nav{
	display:flex;
	width:60%;
	background-color:#304153;
	color:white;
	padding:10px;
	border-radius:10px;
	margin:10px;
}
.skill-el{
	padding:5px;
}
.nav-sep{
	height:100%;
	background-color:white;
	width:1px;
	min-width:1px;
}
.nav-el{
	flex-grow:1;
	text-align:center;
	padding:10px;
}

a.fa{
	font-size:28px;
	padding:3px;
	text-decoration: none;
	color:#304153;
	margin-right:5px;
	/* margin-top:5px; */
	/* flex-grow:1; */
	/* text-align:center; */
}
.about-me-text{
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	/* height:80%; */
	/* margin:10px; */
	background-color: #304151;
	max-width:200px;
	min-width:200px;
	margin-right:30px;
}

.body{
	display:flex;
}
.header{
	width:100%;
	padding:30px;
	background-color:#f3f3f3;
}
.margin{
	width:8%;
	flex-grow:1;
}
.everything{
	width:60%;
	flex-grow:1;
}
.line{
	flex-grow:1;
	background-color: #25A3EF;
	height:3px;
	border-radius:10px;
	/* margin-left:40px; */
	/* margin:right; */
	width:100%;
}
.about-me-text{
	/* margin-top:45px; */
	margin-bottom:15px;
	flex-grow:1;
	transform: skew(-20deg);
	white-space: nowrap;
}
.about-me-counter{
	display:block;
	text-align:center;
	transform: skew(20deg);
	color:white;
	font-size:16pt;
}
.about-me-banner{
	display:flex;
}
.about-card{
	display:flex;
}
.about-bio{
	display:flex;
	padding-top:40px;
	margin-left:5px;
}
.center-about{
	display:flex;
	margin-top:35px;
	/* align-items: center; */
	/* justify-content: center; */

}
.about-me{
	padding-left:30px;
	padding-right:30px;
	padding-top:40px;
	display:flex;
}
.name{
	color:#304153;
	width:60%;
	font-size:50pt;
}
.title{
	color:#304153;
	font-size:20pt;
	width:60%;
}
.title-page{
	text-align:center;
	width:100%;
}
.namewrapper{
	display:flex;
	justify-content:center;
}
.titlewrapper{
	display:flex;
	justify-content:center;
}
.about-contact{
	white-space: nowrap;
	padding-right:15px;
	padding:10px;
}
.about-attr{
	color: #304153;
	display:inline-block;
	margin-bottom:5px;
}
.about-links{
	/* padding:10px; */
	/* display:flex; */
}
.about-me-left{
	margin-right:25px;
	flex-grow:0;
}
.about-me-right{
	flex-grow:1;
	padding-top:20px;
	margin-left:40px;
}
.about-bio-img{
	padding-right:10px;
	margin-right:20px;
	/* background-color: #25A3EF; */
}
.experience{
	padding-left:30px;
	padding-right:30px;
	padding-top:40px;
	display:flex;
}
.nav-link{
	/* display:flex; */
	flex-grow:1;
	text-decoration:none;
	color:white;
}
.li-el{
	/* height:150px; */
	/* border-spacing: 15px; */
	padding:15px;
	margin-bottom:70px;
	display:flex;
	/* flex-direction:column; */
	list-style-type: none;
	width:100%;
	/* border-left:2px solid; */
	/* border-bottom:2px solid; */
	/* border-top:2px solid; */
	/* border-right:2px solid; */
	padding-bottom:35px;
	box-shadow: 2px 2px 5px #304153;
}
.title-img{
	display:flex;
	flex-direction:column;
	/* padding-bottom:350px; */
}
.small-img{
	margin-top:20px;
	height:auto;
	width:200px;
}
.proj-desc{
	display:flex;
	align-items:center;
	padding:25px;
	/* margin:auto; */
	width:100%;
}
.proj-text{
	width:90%;
}
.no-decor{
	/* text-decoration:none; */
	padding-left:10px;
	color:#304153;
}
.huge-icon{
	transform: scale(2);
	padding-left:10px;
	margin-left:auto;
	margin-right:0;
	/* display: flex; */
	/* justify-content: flex-end; */
}
h3{
	margin:0;
	margin-top:10px;
	color:#304153;
	text-align:center;
}
.a-img{
	width:200px;
	height:200px;
}
.skills{
	display:flex;
	/* flex-grow:1; */
	/* flex-basis:25%; */
}
.skill-list{
	flex-grow:1;
}
.no-style{
	list-style: none;
	/* font-size:22pt; */
}

@media (max-width: 1024px) {
	.margin{
		display:none;
	}
	.proj-desc{
		padding-left:0px;
	}
	.nav-sep{
		width:3px;
		min-width:3px;
	}
	.nav{
		width:90%;
		font-size:24px;
	}
}

@media (max-width: 768px) {

}

